{% assign total_count = site.posts | size %}
{% assign paper_count = site.categories['논문리뷰'] | size %}
{% assign programming_count = site.categories['프로그래밍'] | size %}
{% assign study_count = site.categories['공부'] | size %}

<nav class="paper-sidebar">
  <a class="paper-sidebar__item paper-sidebar__section" href="{{ '/posts/' | relative_url }}">
    <span class="paper-sidebar__label">전체 게시글</span>
    <span class="paper-sidebar__count">({{ total_count }})</span>
  </a>

  <a class="paper-sidebar__item paper-sidebar__section" href="{{ '/paper-review/' | relative_url }}">
    <span class="paper-sidebar__label">논문리뷰</span>
    <span class="paper-sidebar__count">({{ paper_count }})</span>
  </a>

  <div class="paper-sidebar__children">
  <a class="paper-sidebar__item" href="{{ '/paper-review/3d-vision/' | relative_url }}">
    <span class="paper-sidebar__label">3D Vision</span>
    <span class="paper-sidebar__count">({{ site.tags['3D Vision'] | size }})</span>
  </a>

  <a class="paper-sidebar__item" href="{{ '/paper-review/video-coding/' | relative_url }}">
    <span class="paper-sidebar__label">Video Coding</span>
    <span class="paper-sidebar__count">({{ site.tags['Video Coding'] | size }})</span>
  </a>

  <a class="paper-sidebar__item" href="{{ '/paper-review/event-camera/' | relative_url }}">
    <span class="paper-sidebar__label">Event Camera</span>
    <span class="paper-sidebar__count">({{ site.tags['Event Camera'] | size }})</span>
  </a>

  <a class="paper-sidebar__item" href="{{ '/paper-review/gaussian-splatting/' | relative_url }}">
    <span class="paper-sidebar__label">Gaussian Splatting</span>
    <span class="paper-sidebar__count">({{ site.tags['Gaussian Splatting'] | size }})</span>
  </a>

  <a class="paper-sidebar__item" href="{{ '/paper-review/nlp/' | relative_url }}">
    <span class="paper-sidebar__label">NLP</span>
    <span class="paper-sidebar__count">({{ site.tags['NLP'] | size }})</span>
  </a>
</div>

  <a class="paper-sidebar__item paper-sidebar__section" href="{{ '/categories/#프로그래밍' | relative_url }}">
    <span class="paper-sidebar__label">프로그래밍</span>
    <span class="paper-sidebar__count">({{ programming_count }})</span>
  </a>

  <a class="paper-sidebar__item paper-sidebar__section" href="{{ '/categories/#공부' | relative_url }}">
    <span class="paper-sidebar__label">공부</span>
    <span class="paper-sidebar__count">({{ study_count }})</span>
  </a>
</nav>
